.about-school{
  position: relative;
  padding-top: 32px;
  padding-bottom: 38px;

  @media screen and(min-width: $tablet-width) {
    padding: 23px 0;

    .container {
      position: relative;
      padding-left: 347px;

      &::after {
        content: '';
        position: absolute;
        top: 20px;
        left: 0;

        width: 299px;
        height: 537px;
        background: url('../img/tablet/about-school-bg.png') no-repeat left top;
        background-size: auto;
      }
    }
  }
  @media screen and (min-width: $laptop-width) {
    position: relative;
    min-height: 930px;
    padding-top: 100px;
    padding-bottom: 100px;

    &::before {
      content: '';
      position: absolute;
      top: -152px;
      right: 0;
      z-index: -1;

      width: 202px;
      height: 287px;
      background: url('../img/свисток.png') no-repeat top left;
      background-size: cover;

    }
    .container {
      padding-left: 520px;

      &::after {
        top: -15px;
        left: -5px;
        width: 486px;
        height: 782px;
        background: url('../img/laptop/about-school-bg.png') no-repeat left top;
        background-size: cover;
      }
    }
  }
  @media screen and (min-width: $desktop-width) {
    padding-top: 158px;
    padding-bottom: 158px;
    min-height: 1020px;
    .container {
      padding-left: 604px;

      &::after {
        content: '';
        position: absolute;
        top: -53px;
        left: -24px;

        width: 545px;
        height: 825px;
        background: url('../img/desktop/about-school-bg.png') no-repeat left top;
        background-size: auto;
      }
    }

    &::before {
      right: -16px;
      width: 330px;
      height: 342px;
    }
}


  &__title {
    margin: 0 0 29px 0;
    padding: 0;
    width: 295px;

    font-family: $Oswald;
    font-weight: 500;
    line-height: 48px;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $black;

    @media screen and(min-width: $tablet-width) {
      margin-bottom: 22px;
      line-height: 59px;
      font-size: 44px;
      width: 395px;
    }
    @media screen and (min-width: $laptop-width) {
      width: 430px;
      margin-bottom: 33px;
      line-height: 67px;
      font-size: 50px;
    }

  }
  &__list {
    @include list-reset;

    @media screen and(min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

  }
  &__item {
    padding: 5px 5px 5px 73px;
    margin-bottom: 33px;
    background-position: 0 0;
    background-repeat: no-repeat;

    &:last-child {
      margin-bottom: 0;
    }
    @each $thing in sports, trainer, license, tourney {
      &--#{$thing} {
        background-image: url('../img/icon/#{$thing}-icon.svg');
      }
    }
    &--trainer {
      background-position: 9px 4px;
    }
    &--license {
      background-position: 6px 2px;
    }
    &--tourney {
      background-position: 10px 5px;
    }

    @media screen and(min-width: $tablet-width) {
      flex-basis: 46%;
      flex-grow: 1;
      padding: 80px 0 0;
      margin-bottom: 39px;

      &:nth-child(2n + 1) {
        margin-right: 25px;
      }

      &--sports {
        background-position: -5px 0;
      }
      &--trainer {
        background-position: 0 8px;
      }
      &--license {
        background-position: 1px 16px;
      }
      &--tourney {
        background-position: 1px 12px;
      }
    }
    @media screen and (min-width: $laptop-width) {
      margin-bottom: 58px;
    }
  }
  &__caption {
    display: block;
    margin-bottom: 4px;

    font-family: $Oswald;
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $black;
  }

  &__text {
    display: block;

    font-family: $Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: $black;
  }
}
