.contacts {
  &__block {
    margin-bottom: 27px;
    .container {
      padding: 0;
    }

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 12px;
      .container {
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: $laptop-width) {
      padding-top: 16px;
      .container {
        display: block;
        padding: 0;
      }
    }

    @media screen and (min-width: $desktop-width) {
      margin-bottom: 28px;
    }
  }

  &__point {
      margin-bottom: 18px;
  }
  &__title {
    display: block;
    margin: 0;
    padding: 0;

    font-family: $Oswald;
    line-height: 35px;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (min-width: $laptop-width) {
      line-height: 39px;
      font-size: 20px;
    }
  }
  &__content,
  &__tel,
  &__email {
    font-family: $Roboto;
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;

    color: $black;

    @media screen and (min-width: $laptop-width) {
      line-height: 30px;
      font-size: 20px;
    }
  }
  &__tel {
    text-decoration: none;
  }

  &__container {
    @media screen and (min-width: $laptop-width) {
      position: relative;
      padding: 0 23px;
      display: flex;
      justify-content: space-between;
      max-width: 1160px;
      margin-right: auto;
      margin-left: auto;
    }
    @media screen and (min-width: $desktop-width) {
      padding: 0;

    }
  }
}
