.feedback {

  @media screen and (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: -70px;
    .container {
      padding: 0 40px;
    }
    .form__label--checkbox {
      max-width: 100%;
    }
    .form__tablet-row {
      margin-bottom: 27px;
    }
  }

  @media screen and (min-width: $laptop-width) {
    margin-top: -70px;
    margin-bottom: -170px;
  }
  @media screen and (min-width: $desktop-width) {
    .container {
      padding: 0 60px;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);

    @media screen and (min-width: $tablet-width) {
      padding-top: 40px;
      padding-bottom: 65px;
    }

    @media screen and (min-width: $laptop-width) {
      padding-bottom: 58px;
      width: 630px;
    }

    @media screen and (min-width: $desktop-width) {
      max-width: 100%;
      width: 778px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 55px;

    }

  }
  &__legend {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    font-family: $Oswald;
    font-weight: 500;
    line-height: 39px;
    font-size: 26px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 27px;
      font-size: 32px;
      line-height: 47px;
      letter-spacing: 0;
    }
    @media screen and (min-width: $laptop-width) {
      font-size: 36px;
      line-height: 53px;
    }

  }
  &__button {
    max-width: 100%;
  }

}
