.inner-page {
  min-height: calc(100vh - 360px);
  padding-top: 87px;
  padding-bottom: 100px;
  &--bottom {
    padding-bottom: 0;
  }

  @media screen and (min-width: $tablet-width) {
    padding-top: 110px;
    min-height: calc(100vh - 226px);
  }
  @media screen and (min-width: $laptop-width) {
    padding-top: 119px;
    min-height: calc(100vh - 210px);
  }
  @media screen and (min-width: $desktop-width) {
    padding-top: 121px;
  }

  &__header {
    width: 100%;

    @media screen and (min-width: $tablet-width) {
      position: relative;
      padding-top: 28px;
    }

    @media screen and (min-width: $laptop-width) {
      padding-top: 39px;
    }

    @media screen and (min-width: $desktop-width) {
      padding-top: 35px;
    }

  }

  &__back {
    display: inline-block;
    padding-left: 19px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: $Roboto;
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
    color: $black;
    text-decoration: none;

    background: url('../img/icon/arrow-left-icon.svg') no-repeat left 21px;

    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }

  &__breadcrumbs {
    display: none;

    @media screen and (min-width: $tablet-width) {
      display: inline-block;
    }
  }

  &__column {
    @media screen and (min-width: $laptop-width) {
      width: 648px;
      flex-grow: 1;
      margin-right: 48px;
      .container {
        padding-right: 0;
      }
    }

    @media screen and (min-width: $desktop-width) {
      min-width: 760px ;
    }
  }

  &__aside {
    display: none;
    @media screen and (min-width: $laptop-width) {
      display: block;
      max-width: 305px;
      margin-right: 23px;

      .banner {
        max-width: 305px;
        margin-bottom: 10px;
      }

      .news__list--small {

        box-shadow: none;
      }
      .news__item {
        height: auto;
        background-color: transparent;
        width: 100%;
      }
      .news__text {
        height: auto;
        padding: 19px 0 23px 0;
      }

    }
    @media screen and (min-width: $desktop-width) {
      margin-right: 0;
      max-width: 355px;
      .banner {
        margin-bottom: 28px;
        max-width: 355px;
      }
      .news__date {
        line-height: 17px;
        font-size: 11px;
      }
      .news__text {
        padding-top: 12px;
        padding-bottom: 22px;
      }
    }

  }
}
