.main-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(100% - 65px);

  @media screen and (min-width: $tablet-width) {
    width: calc(100% - 76px);
    width: calc(100% - 76px);
  }

  @media screen and (min-width: $laptop-width) {
    display: flex;
    order: 2;
  }

  &__link {
    padding: 14px 10px 15px 10px;
    position: relative;
    display: inline-block;
    font-family: $Oswald;
    font-weight: 500;
    line-height: normal;
    font-size: 19px;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-decoration: none;

    color: $black;

    @media screen and (min-width: $tablet-width) {
      padding: 14px 14px 15px;
      font-size: 17px;
    }

    @media screen and (min-width: $laptop-width) {
      padding: 14px 19px 15px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 4px;
        margin: 0 19px;
        background-color: $red;
        transition: width 0.3s ease;
      }

      &:hover,
      &:focus {
        &::after {
          width: calc(100% - 38px);
        }
      }
    }

    @media screen and (min-width: $desktop-width) {
      padding: 18px 25px 15px;
      font-size: 19px;
      &:hover,
      &:focus {
        &::after {
          width: calc(100% - 50px);
          margin: 0 25px;
        }
      }
    }
  }

  &__item {

    @media screen and (min-width: $tablet-width) {
    }
    @media screen and (min-width: $laptop-width) {
    }
    @media screen and (min-width: $desktop-width) {
    }

    &._active .main-menu__link {
      color: $red;
  }




  }
}
