.news-other {
  &__title {
    margin-top: 17px;
    margin-bottom: 20px;

    font-family: $Oswald;
    font-weight: 500;
    line-height: 33px;
    font-size: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop-width) {
      margin-top: 19px;
      margin-bottom: 23px;
    }
  }
}
