.news {
  padding: 50px 0;

  @media screen and (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 59px;
  }
  @media screen and(min-width: $laptop-width) {
    padding-top: 76px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 118px;
  }

  &__list {
    @include list-reset;
    &--small {
      display: none;
    }
    @media screen and (min-width: $tablet-width) {
      flex-basis: 376px;
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      &--small {
        display: none;
      }
    }
    @media screen and(min-width: $laptop-width) {
      margin-right: 18px;
      min-width: 316px;

      &--small {
        display: block;
        min-width: 316px;
        margin-right: 0;
        box-shadow: 0 2px 30px rgba(0,0,0,.15);
        background-color: $white;

        .news__item {
          position: relative;

          min-height: 85px;
          height: 85px;
          box-shadow: none;
          margin-bottom: 0;


          &::before {
            content: '';
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray-border;
          }
        }
        .news__text {
          height: 85px;
          padding-left: 21px;
          padding-right: 21px;
          padding-top: 9px;

        }
        .news__date {
          margin-bottom: 0;
        }

      }
    }
    @media screen and (min-width: $desktop-width) {
      &--small {
        .news__item {
          height: 100px;
          width: 100%;
        }
        .news__text {
          height: 100px;
          padding-top: 15px;
        }
      }

    }

  }
  &__img {
    position: relative;
    flex-shrink: 0;
    width: 118px;
    height: 104px;
    overflow: hidden;
    background: #f6f6f6 url("data:image/svg+xml,%0A%3Csvg width='73' height='71' viewBox='0 0 73 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M68.7561 26.8816L59.0425 23.6233L57.9092 30.4656L68.7561 26.8816Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M66.3259 26.2933L59.6499 24.0539L58.871 28.7565L66.3259 26.2933ZM59.282 22.3132L68.9455 25.5546C69.1906 25.6178 69.3993 25.802 69.4832 26.0621C69.6138 26.4661 69.3941 26.9001 68.9926 27.0315L58.1457 30.6152C58.0326 30.6524 57.9092 30.6634 57.7837 30.6423C57.3674 30.5725 57.0862 30.1762 57.1555 29.7573L58.2888 22.915L58.2905 22.9153C58.2969 22.877 58.3062 22.8386 58.3187 22.8006C58.4509 22.3985 58.8822 22.1801 59.282 22.3132Z' fill='%23DEDDDD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.7102 26.2933L12.3862 24.0539L13.1651 28.7565L5.7102 26.2933ZM12.7541 22.3132L3.09065 25.5546C2.84554 25.6178 2.63687 25.802 2.55289 26.0621C2.42235 26.4661 2.64203 26.9001 3.0435 27.0315L13.8904 30.6152C14.0035 30.6524 14.127 30.6634 14.2524 30.6423C14.6687 30.5725 14.95 30.1762 14.8806 29.7573L13.7473 22.915L13.7456 22.9153C13.7392 22.877 13.73 22.8386 13.7174 22.8006C13.5852 22.3985 13.1539 22.1801 12.7541 22.3132Z' fill='%23DEDDDD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.0543 10.6404C27.1667 10.6404 14.3909 11.7582 8.46582 15.4846C8.46582 15.4846 10.9948 41.71 12.1691 46.6001C13.5797 52.4752 15.1812 57.2203 23.8588 62.9962C32.5364 68.772 36.0544 69.8899 36.0544 69.8899C36.0544 69.8899 39.5723 68.772 48.2498 62.9962C56.9275 57.2203 58.5289 52.4752 59.9396 46.6001C61.1139 41.71 63.6427 15.4846 63.6427 15.4846C57.7177 11.7581 44.9419 10.6404 36.0543 10.6404Z' fill='%23ED1C24'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.0538 9.67496C39.8343 9.67496 43.6459 9.85749 47.4068 10.244C50.558 10.5679 53.748 11.0392 56.8269 11.7958C59.3276 12.4104 62.091 13.2898 64.2851 14.6698L64.6152 14.8773L64.5776 15.2672C64.0576 20.6624 63.4976 26.0588 62.8984 31.4455C62.554 34.5417 62.1968 37.6394 61.7904 40.728C61.6307 41.9414 61.4638 43.1554 61.2733 44.3645C61.145 45.1784 61.0106 46.0185 60.8182 46.8197C60.4898 48.1875 60.138 49.5511 59.6812 50.882C58.8684 53.2506 57.7724 55.3187 56.202 57.271C54.1337 59.8425 51.4621 61.9623 48.7328 63.7789C46.8791 65.0127 44.9992 66.2127 43.0837 67.3473C41.8218 68.0948 40.54 68.8181 39.234 69.4849C38.5065 69.8563 37.7645 70.216 37.011 70.5315C36.7627 70.6354 36.5 70.7441 36.2432 70.8258L36.0538 70.886L35.8644 70.8258C35.6076 70.7441 35.3449 70.6354 35.0966 70.5315C34.3431 70.2161 33.601 69.8564 32.8735 69.485C31.5674 68.8182 30.2856 68.095 29.0237 67.3475C27.1081 66.2128 25.2281 65.0129 23.3745 63.779C20.6452 61.9624 17.9737 59.8426 15.9054 57.2711C14.3352 55.3188 13.2392 53.2507 12.4263 50.8821C11.9695 49.5512 11.6178 48.1875 11.2894 46.8198C11.0969 46.0186 10.9626 45.1786 10.8343 44.3646C10.6437 43.1555 10.4769 41.9415 10.3172 40.7281C9.91075 37.6394 9.55361 34.5417 9.20913 31.4456C8.6099 26.059 8.04982 20.6625 7.52979 15.2673L7.49219 14.8774L7.82225 14.6699C10.0165 13.2899 12.7798 12.4105 15.2805 11.796C18.3594 11.0394 21.5494 10.5681 24.7005 10.2442C28.4614 9.85749 32.2732 9.67496 36.0538 9.67496Z' fill='%23DEDDDD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.0543 10.6404C27.1667 10.6404 14.3908 11.7582 8.46582 15.4846C8.46582 15.4846 10.9948 41.71 12.1691 46.6001C13.5797 52.4752 15.1812 57.2203 23.8588 62.9962C32.5364 68.772 36.0544 69.8899 36.0544 69.8899C36.0544 69.8899 39.5723 68.772 48.2498 62.9962C56.9275 57.2203 58.529 52.4752 59.9396 46.6001C61.1139 41.71 63.6427 15.4846 63.6427 15.4846C57.7177 11.7581 44.9419 10.6404 36.0543 10.6404Z' fill='%23DEDDDD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.0534 67.6901C35.5998 67.496 34.8926 67.1722 33.9091 66.6643V48.4271C31.6117 48.3683 28.7015 48.2025 25.6383 47.9766V61.7212C25.4227 61.5793 25.2041 61.4348 24.9816 61.2867C23.6511 60.4011 22.5019 59.5479 21.5029 58.714V52.9306C20.2775 52.8268 19.0741 52.7529 17.8768 52.5987H16.3629C15.3048 50.5792 14.7157 48.4834 14.1478 46.1186C13.2882 42.5392 11.5374 25.9782 10.6216 16.6201C16.3876 13.7332 27.7064 12.6899 36.0534 12.6899C44.4003 12.6899 55.7191 13.7332 61.485 16.6201C60.5694 25.9782 58.8184 42.5392 57.9589 46.1186C57.384 48.5131 56.7873 50.6316 55.7043 52.6745C54.0167 52.8042 52.2701 52.9347 50.6039 53.0524V58.7141C49.6049 59.548 48.4557 60.4012 47.1251 61.2868C46.9026 61.4349 46.6841 61.5795 46.4685 61.7213V48.0323C43.4052 48.2147 40.4951 48.3539 38.1977 48.4156V66.6642C37.214 67.1722 36.5069 67.4959 36.0534 67.6901Z' fill='white'/%3E%3Cpath d='M36.0449 38.7689C46.5465 38.7689 55.0596 30.2023 55.0596 19.6348C55.0596 9.0674 46.5465 0.500793 36.0449 0.500793C25.5434 0.500793 17.0303 9.0674 17.0303 19.6348C17.0303 30.2023 25.5434 38.7689 36.0449 38.7689Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37.8478 38.7615L37.8873 38.7313C34.4549 38.9041 31.3748 38.438 28.6464 37.3329C28.2936 37.1901 27.9467 37.0367 27.6057 36.8724C27.1385 36.6473 26.6824 36.4021 26.2373 36.137C25.5788 35.7449 24.9443 35.3091 24.3343 34.8291C24.2255 34.7417 24.118 34.6533 24.0116 34.5639C23.7069 34.3082 23.4114 34.0445 23.125 33.7727C23.0761 33.7263 23.0275 33.6796 22.9791 33.6328C22.8667 33.5239 22.7558 33.4137 22.6462 33.3022L22.6299 33.2856C22.4108 33.0622 22.1973 32.8337 21.9898 32.6002L21.9306 32.5335C19.8871 30.2134 18.4098 27.401 17.4984 24.0958L17.4979 24.0942C17.2637 23.1421 17.1079 22.1778 17.0304 21.2017C16.939 20.0503 16.9571 18.8821 17.084 17.6973C17.1571 17.0157 17.2662 16.3288 17.4115 15.6362C17.4738 15.3393 17.5429 15.0414 17.6184 14.7425C17.6523 14.6084 17.6874 14.4741 17.724 14.3396C17.7779 14.1743 17.833 14.0107 17.8892 13.8487C17.9311 13.728 17.9736 13.6082 18.0166 13.4893C18.6799 11.6599 19.4897 10.045 20.4463 8.64456C20.7076 8.34204 21.0297 7.87236 21.2728 7.56268C21.5906 7.15761 21.9049 6.80371 22.2345 6.46246C25.0422 3.55639 28.0588 1.85729 32.0307 0.930594C39.3368 -0.774189 47.3867 2.51656 51.6115 8.603C52.0882 9.28981 52.6385 10.1796 53.0487 11.0221C54.6119 14.2324 55.7857 18.7906 54.6966 23.5747C54.163 25.9186 53.3448 28.0102 52.2466 29.7682C51.7117 30.6242 51.1263 31.4391 50.5119 32.15C49.8363 32.9317 48.778 33.873 48.5222 34.1747C48.3371 34.3133 48.1679 34.481 47.9446 34.6154L47.6996 34.8415C47.5473 35.0434 47.7573 34.9364 47.4785 35.0734C47.2486 35.1863 47.4223 35.031 47.1851 35.2171C47.0617 35.3138 47.1556 35.2818 46.9614 35.3994C46.7154 35.585 46.4193 35.7144 46.2198 35.9071C45.3131 36.2624 44.3353 37.2259 41.5364 38.0394C40.3749 38.3767 39.1563 38.6353 37.8478 38.7615ZM34.5438 26.223L35.0578 26.4504C35.391 26.6664 36.8147 27.294 37.1985 27.1642C37.4403 27.0824 38.4317 26.04 38.6906 25.7803C39.566 24.9017 40.6937 23.8858 41.4495 22.8464L37.6388 26.1234C37.3748 26.3408 37.1 26.4945 36.6347 26.307C35.8922 26.0079 35.2893 25.7331 34.6075 25.3189L34.4831 25.3122C34.3702 25.137 34.3688 25.1884 34.1802 25.1023C32.8384 24.2318 32.0425 23.729 31.302 22.5635C30.6624 21.5567 30.1763 20.2972 29.8343 18.9769C29.6974 18.448 29.249 17.5061 29.7103 17.0031C30.0098 16.6765 33.4841 13.7682 34.0552 13.4435C33.5159 13.5524 28.9083 16.8177 28.7707 17.1111C28.474 17.7437 29.6881 21.6728 30.1932 22.6871C30.3973 23.0969 30.5428 23.2812 30.7835 23.6225C31.502 24.6413 33.4671 25.9274 34.5438 26.223ZM47.3656 34.445C47.5337 34.2433 47.6278 34.2756 47.7761 34.0682C48.1872 33.8511 49.2917 32.7344 49.703 32.2815C50.4483 31.461 50.9639 30.9722 51.0794 29.7424C50.3559 29.8239 48.5046 30.8603 47.8497 30.5489C47.7557 30.1199 48.4866 29.6176 48.7425 29.3583C51.3958 26.6717 52.5159 26.2011 52.1169 22.4138C52.0574 21.849 51.9715 21.2956 51.8525 20.7909C51.7808 20.487 51.4894 19.5922 51.5358 19.4519C51.7519 18.7975 52.5148 20.0042 52.8565 20.4614C53.0716 20.7491 53.6406 21.7083 53.8738 21.8789C54.4186 20.0778 54.6834 19.5225 54.4861 17.6364C54.3563 16.3956 54.0777 15.0352 53.7166 13.9365C53.267 12.5684 52.2728 10.3203 51.4359 9.2407C50.851 8.48585 50.445 8.63976 49.6477 8.34949C49.4952 9.57626 49.2632 10.6934 48.7982 11.7756C48.416 12.6649 48.379 12.3419 48.8123 13.01C49.2957 13.7554 52.3441 18.6947 51.5769 19.1333C51.1867 19.278 50.6757 18.7376 50.4202 18.5378C50.0761 18.2689 49.6922 18.0064 49.3026 17.7594C48.8727 17.4869 47.2551 16.4787 46.688 16.4878C46.4268 16.562 45.416 18.399 45.2095 18.7378L43.7263 21.0422L43.4912 21.3735C43.3328 21.7048 42.8963 22.1636 42.5782 22.1693C42.3205 21.9286 42.3377 21.5492 42.3173 21.0988L42.3095 20.8837C42.3843 19.9685 42.2236 17.2246 42.1572 16.0684C42.1302 15.5981 42.203 14.8094 41.8303 14.6063C41.5208 14.4376 35.4291 13.0922 34.8882 13.0351C34.8758 13.0196 34.86 12.9763 34.8505 12.9889C34.7552 13.1139 34.7885 12.9136 34.7818 12.906C34.7787 12.9025 34.7059 12.8283 34.6973 12.8187C34.7579 12.4277 34.9474 12.3469 35.239 12.1998L37.4925 11.2542C38.5411 10.8276 39.5081 10.4394 40.5514 10.0148C41.4179 9.66214 41.3027 9.66322 40.9679 8.87945C40.7484 8.36576 40.5574 7.91854 40.3031 7.37671C40.0629 6.86528 39.8662 6.38256 39.6288 5.87682C39.486 5.57272 38.9266 4.64769 39.1412 4.33614C39.817 4.09361 43.3563 6.93341 43.8972 7.38102C44.2492 7.67228 44.6126 7.95785 44.946 8.26802C45.4206 8.70966 45.5806 8.41576 46.2309 8.26439C47.1243 8.05647 48.3178 7.86707 49.3616 7.99177C49.0546 6.43717 49.7558 6.81802 47.6667 5.10736C45.6784 3.47914 43.4144 2.36069 40.8466 1.63937C40.1767 1.45124 39.3586 1.23096 38.6953 1.26665C38.2631 1.28978 37.0723 1.36929 36.8062 1.52516L38.0384 2.77537C38.3457 3.09966 39.2729 3.91735 38.9172 4.18409C38.6164 4.29663 37.7692 3.77481 37.4083 3.62923C35.8328 2.99408 33.6985 2.34344 32.1997 2.97888C31.3198 3.35199 31.0386 3.62452 30.321 4.06155C29.8493 4.34898 27.7326 6.0617 27.4569 6.03073C27.1665 5.99798 27.387 6.04729 27.2968 5.94995C27.0593 5.49969 28.4025 3.4266 28.6243 2.93222C27.7093 2.84752 27.5067 3.12505 26.9017 3.4512C24.4226 4.78758 22.2519 6.96988 20.6293 9.3453C20.1027 10.1162 19.6461 10.9662 19.2485 11.8254C19.042 12.2717 18.996 12.2986 19.1576 12.7538C19.5408 13.8319 18.7032 13.6949 18.405 14.1134C18.202 14.3982 17.9322 15.8493 17.8467 16.2865C17.1873 19.6617 17.6032 23.1482 18.74 26.2705C18.9551 26.8609 19.0863 27.4306 19.7477 27.6614C20.183 26.8525 19.9095 24.8801 20.7447 24.506C21.1749 24.6954 21.0747 25.3218 21.1579 25.9944C21.31 27.2236 21.8618 29.804 22.4268 30.6891C23.0979 31.7406 25.5402 32.6518 26.8916 33.021C27.4137 33.1636 28.3422 33.2097 28.4717 33.7324C28.1381 34.3934 25.9057 34.0197 25.2949 34.3318C25.3586 34.5843 25.8212 35.1259 26.0538 35.3242C26.8116 35.9699 29.0001 36.9161 29.9617 37.2549C32.0555 37.9926 34.2848 38.3374 36.475 38.2907C36.9136 38.2813 37.5919 38.3391 37.8773 38.1238C38.2014 37.8791 38.4584 37.3478 38.8058 37.2151C39.2218 37.0562 39.7597 37.5095 40.2409 37.6475C40.7912 37.8055 41.1849 37.5712 41.6542 37.4238C42.7002 37.0956 45.6769 35.8807 46.3162 35.1365C46.6001 35.0354 46.8053 34.8261 47.0517 34.6716C47.1645 34.511 46.9888 34.6532 47.1802 34.506C47.3184 34.3997 47.1657 34.4461 47.3656 34.445ZM32.4614 26.5495C32.8448 26.7184 33.1705 27.0772 33.6029 27.3117C34.0328 27.5449 34.3924 27.7628 34.8265 28.01C35.3247 28.2938 36.9586 29.1963 37.5203 29.1891C37.7032 29.0548 41.2886 24.4773 41.4775 24.1091L39.4312 26.3418C39.0773 26.7432 38.7889 27.0896 38.4343 27.4719C38.1791 27.747 37.726 28.3458 37.4564 28.5365C36.9992 28.5233 34.7174 27.4659 34.2765 27.2129C34.0236 27.0677 33.8179 26.9828 33.5371 26.8465C33.2868 26.7253 33.082 26.5669 32.843 26.4293L31.432 25.617C31.5187 25.7992 31.4491 25.7189 31.6108 25.8405C31.7751 25.9174 31.9865 26.0731 32.0949 26.1865C32.1872 26.2832 32.1773 26.2897 32.2837 26.389C32.3932 26.4914 32.357 26.4269 32.4614 26.5495ZM42.5649 36.4444C41.9858 36.4355 40.9154 36.6115 40.7169 35.9959C40.5003 35.3243 41.1431 34.6821 41.3412 34.1865C40.9483 34.3725 40.5982 34.958 40.3927 35.3367C40.2103 35.673 39.8175 36.5295 39.9428 36.9525C40.1051 37.5008 40.9084 37.132 41.2473 37.0027C41.4912 36.9096 41.6797 36.8423 41.9111 36.7517C42.0581 36.6942 42.1121 36.6781 42.2641 36.6148C42.4372 36.5428 42.4388 36.5435 42.5649 36.4444ZM22.5418 11.6473C22.0345 11.7331 21.3638 12.2703 20.6781 11.9996C20.0098 11.7359 20.418 10.663 20.4986 10.0253C20.1659 10.6228 18.6814 12.4458 19.7123 12.6374C20.6788 12.8171 22.1284 12.0877 22.5418 11.6473ZM33.426 11.6723C32.9754 11.5634 31.6791 11.5908 31.1298 11.571C30.3694 11.5435 29.5037 11.4968 28.7646 11.4069C27.9647 11.3097 27.9763 11.0604 27.8307 9.82458C27.7525 9.16159 27.7827 8.24724 27.6845 7.6565C27.5445 8.44624 27.4957 9.51382 27.4914 10.2957C27.4898 10.5775 27.4758 11.2852 27.5437 11.507C27.7045 12.0314 28.2328 11.7385 28.5251 11.7358C28.7752 11.7335 28.9834 11.8459 29.843 11.833C30.5474 11.8224 33.0022 11.7643 33.426 11.6723ZM43.2744 23.1792C42.9011 24.8277 42.5113 26.4451 42.2436 28.1455C42.0432 29.4186 42.2328 29.3261 43.5209 29.5412C44.3526 29.6802 45.2098 29.7426 46.0453 29.8039C45.7791 29.6323 44.3539 29.3793 43.8882 29.2254C42.9446 28.9135 42.5937 28.9925 42.6788 27.9512C42.8108 26.3367 43.1223 24.7675 43.2744 23.1792ZM53.8619 20.9105C53.8151 20.3506 53.1011 19.086 52.856 18.7608C52.2632 17.9744 52.2327 16.5355 50.7894 14.5862C50.3497 13.9923 49.9299 13.2879 49.3291 12.7206L49.9216 13.7417C50.9662 15.3534 51.5596 16.7074 52.0053 18.5819C52.1381 19.1402 52.2934 18.9214 53.1104 19.9345C53.2535 20.112 53.3434 20.2258 53.4727 20.4121C53.6321 20.6416 53.66 20.7588 53.8619 20.9105ZM45.0406 7.70375C44.6938 6.95125 42.5936 5.01325 41.6948 4.43898C41.3692 4.23085 40.9884 3.97979 40.6414 3.78608C40.1131 3.4911 40.0256 3.52561 39.6357 3.09515C39.1916 2.60469 38.3387 1.99503 37.6431 1.6926C37.8733 1.89278 38.2286 2.27658 38.4283 2.49323C39.6874 3.85941 38.8951 3.62109 40.0668 4.1439C41.8574 4.94286 42.7172 5.68369 44.1097 6.88586C44.3869 7.12536 44.7394 7.50308 45.0406 7.70375ZM26.6562 35.0754C26.6706 35.0882 26.69 35.1029 26.7014 35.1115C26.7126 35.1199 26.7322 35.1366 26.7459 35.1466L27.3861 35.4927C27.6292 35.6095 27.8633 35.7232 28.0963 35.83C31.7061 37.4861 34.3232 37.8224 38.2175 37.4821L34.8287 37.0529C33.4435 36.823 31.9405 36.5257 30.5955 36.1642L26.6562 35.0754ZM19.2339 26.3145L18.7548 20.7022C18.7079 19.7351 18.6729 18.7273 18.6919 17.742C18.7015 17.2428 18.8687 14.7952 18.8111 14.5697C18.1342 15.5474 17.9865 19.5662 18.0955 20.9526C18.1992 22.2714 18.4895 23.8123 18.8438 25.0649C18.9576 25.4669 19.1667 25.9618 19.2339 26.3145ZM33.9431 30.8072C34.0721 31.5621 33.6192 31.6085 33.1745 31.8599L29.6794 33.6587C30.5741 33.4682 31.7168 32.9919 32.4724 32.6149C33.4753 32.1148 34.9634 31.5891 33.9431 30.8072ZM41.9078 30.5948C44.435 31.0101 45.8522 30.7095 46.3108 30.7634L42.0937 30.253C41.434 30.1644 41.3859 30.1266 41.2428 29.5911C40.7022 30.2333 41.3307 30.5 41.9078 30.5948ZM37.1956 27.8801C35.9128 27.4783 34.776 26.8583 33.6397 26.329C32.5896 25.8398 31.1061 24.5089 30.4731 24.5471C30.2238 25.0876 31.0364 26.479 31.2996 26.9948C31.3698 27.1323 31.3918 27.2454 31.4589 27.3833C31.553 27.577 31.6059 27.6253 31.6976 27.7843C32.0564 28.4073 32.3519 29.2175 32.9256 30.0108C33.6194 30.97 33.5275 30.9659 32.3355 31.6352L29.8839 32.9339C29.5212 33.1101 28.8677 33.2442 28.7468 33.7338C29.3926 34.4233 33.9389 34.5295 34.8524 34.5264C35.4952 34.5241 35.6662 34.4186 36.2224 34.7676C37.0313 35.2751 37.4534 35.7379 38.031 36.3496C38.2417 36.5728 38.5435 37.1074 38.9287 37.0836C39.3357 37.0587 39.5161 36.5495 39.7156 36.1235C40.1147 35.2708 40.4793 33.7612 40.74 33.5358C41.1611 33.1716 42.4039 32.9206 43.0201 32.7023C44.1558 32.2998 45.2936 31.8932 46.3369 31.3538C46.6853 31.1736 47.1745 31.0403 47.1996 30.5648C46.9326 30.2122 46.0973 30.2286 45.5734 30.1833C45.1085 30.1432 41.8162 29.7411 41.6418 29.4292C41.3751 28.9519 43.5975 21.4156 42.0186 22.7104L37.1956 27.8801ZM21.1889 23.3601L23.5207 20.2437C23.9059 19.7731 23.8768 19.5378 24.6529 19.7017C24.2659 19.1076 23.9699 19.12 23.5465 19.6521C22.8767 20.4938 21.4426 22.4032 21.1889 23.3601ZM29.3547 23.1884L28.7512 21.6324C28.4831 20.8699 27.2847 16.9632 27.4652 16.6134C27.591 16.4945 27.86 16.3184 28.0265 16.2236L29.8999 15.0563C30.1413 14.9129 32.1904 13.6882 32.3915 13.4334C32.0468 13.5403 29.9143 14.7182 29.4459 14.9755L27.2443 16.1537C26.9325 16.3069 26.7604 16.3928 26.8202 16.8452C26.8781 17.2831 27.1554 18.1171 27.2916 18.5509C27.6575 19.7172 28.6968 22.5042 29.3547 23.1884ZM27.1024 12.7167C26.4425 12.1728 26.5302 12.6224 26.6232 10.4104C26.6635 9.45157 26.7314 8.49016 26.8202 7.51798C26.3865 8.38242 26.1979 10.9964 26.2178 12.1244C26.2296 12.7906 26.5383 12.7728 27.1024 12.7167ZM20.769 24.2224C21.3244 24.3381 21.3654 23.8344 21.8562 23.199C22.1918 22.7645 22.4949 22.3403 22.8046 21.9266C23.1082 21.521 23.4183 21.1385 23.7614 20.7429C24.7912 19.5556 24.3421 20.414 27.2941 22.5145C27.7561 22.8432 29.5508 24.2973 30.0578 24.1099C30.3242 23.7481 29.7194 22.7421 29.5759 22.3967C28.9627 20.9214 28.2548 18.5079 27.9988 16.9652C28.4617 16.4615 32.3242 13.9003 33.4246 13.2889C33.7112 13.1297 34.0214 13.0315 34.0729 12.5642C33.4761 12.0148 29.9434 12.2405 28.8037 12.2511C28.0224 12.2584 28.6997 12.3783 27.8105 12.2747C27.092 12.1909 27.0102 12.5797 27.1065 9.43804C27.1305 8.65084 27.3759 7.09232 27.1368 6.53344C26.6115 6.43374 26.398 6.87361 26.1256 7.24996C25.8615 7.61473 25.6292 7.96775 25.3877 8.35066C24.9189 9.09365 24.4735 9.89026 24.0387 10.7188C23.8143 11.1463 23.6377 11.5457 23.4065 11.9652C23.1129 12.498 22.9553 12.5349 22.3469 12.611C21.5542 12.7101 20.2988 12.9175 19.6637 13.1974C18.5349 13.6949 20.0012 14.3546 20.9406 16.3406C21.1769 16.8403 21.2883 17.0594 21.1517 17.7516C20.8546 19.2572 20.3447 23.0701 20.769 24.2224ZM20.8705 25.5106C20.7368 26.0598 20.9614 27.9351 21.0815 28.4875C21.265 29.3306 21.5335 30.3445 21.8864 31.0236C22.5151 32.2336 25.728 33.314 27.1081 33.502C26.8188 33.3181 22.7982 32.2701 22.1093 30.8057C21.5126 29.5375 20.7927 26.8224 20.8705 25.5106ZM49.8819 28.9069C51.6873 27.3715 53.2412 26.0605 52.8481 23.4168C52.8005 23.0963 52.4263 21.2195 52.1712 20.906C52.2112 21.327 52.3407 21.715 52.4222 22.1351C52.946 24.8332 52.6837 25.9043 50.6255 27.9732L48.9354 29.5835L49.8819 28.9069ZM46.2749 16.0381C46.3195 15.9724 46.6042 15.7866 46.756 15.7748C47.0874 15.7491 48.1249 16.5566 48.3986 16.7687L50.054 17.7838L47.2864 15.5315C46.769 15.1034 46.3758 15.4345 46.2749 16.0381ZM41.5943 13.5334L35.9876 12.7863L41.1237 13.9302C42.8899 14.3459 42.5275 13.9488 42.6397 16.1163C42.6967 17.2177 42.8818 20.255 42.8516 20.9649C42.9247 20.6237 43.1569 14.3674 43.0996 14.1436C42.9604 13.5998 42.2676 13.6252 41.5943 13.5334ZM41.373 10.1727C41.9296 10.1811 42.3529 9.84693 42.0459 9.28942L40.019 5.72506L41.5276 9.03983C41.7867 9.57322 41.8519 9.75449 41.373 10.1727ZM28.3934 5.02413C28.6061 4.94335 28.4779 4.99619 28.6528 4.8711C29.7207 4.10694 30.855 2.97849 32.3018 2.49186C34.6957 1.68682 35.8218 2.90849 37.6134 3.38434C37.5564 3.32513 37.6241 3.37317 37.4946 3.28631C37.4786 3.27563 37.3764 3.21632 37.3602 3.20749C34.7659 1.80426 32.6415 1.28165 30.1942 3.40434C29.7638 3.77775 28.7022 4.64063 28.3934 5.02413Z' fill='%23DEDDDD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M71.2453 45.4755C47.8407 48.6475 24.2664 48.6479 0.861816 45.4755C1.68668 39.477 2.49644 33.4765 3.32101 27.4779C25.0835 30.4227 46.9967 30.4243 68.759 27.4779C69.5878 33.4771 70.4165 39.4764 71.2453 45.4755Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M71.347 46.237C59.6 47.829 47.821 48.6252 36.0528 48.6252C24.2851 48.6252 12.5067 47.8291 0.760174 46.237L0 46.1341L0.10502 45.3701C0.56465 42.0273 0.956379 39.1527 1.34723 36.2828C1.77452 33.146 2.20181 30.009 2.56421 27.3725L2.66845 26.6143L3.42278 26.7163C14.2609 28.1828 25.1474 28.9165 36.0445 28.9165C46.9387 28.9165 57.8221 28.1833 68.6573 26.7163L69.4112 26.6143L69.5159 27.3724L72.0022 45.37L72.1077 46.1339L71.347 46.237ZM36.0527 47.084C47.5194 47.084 58.9761 46.3278 70.3827 44.8157L68.1068 28.3402C57.4327 29.752 46.7335 30.4577 36.0445 30.4577C25.3529 30.4577 14.6508 29.7516 3.97389 28.3403C3.56511 31.3176 3.21293 33.9026 2.86086 36.4876C2.4665 39.3832 2.07253 42.2751 1.72376 44.8157C13.1302 46.3278 24.5864 47.084 36.0527 47.084Z' fill='%23DEDDDD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.44181 32.3572L8.37371 32.812C9.16496 32.9036 9.81008 32.9965 10.3091 33.0909C10.806 33.1851 11.254 33.3309 11.6528 33.5284C12.0496 33.7256 12.3486 34.0056 12.5458 34.3654C12.7453 34.7256 12.8117 35.1873 12.747 35.753C12.7051 36.1195 12.5789 36.4513 12.3703 36.7481C12.1596 37.0448 11.8874 37.2678 11.5515 37.4193C11.2175 37.5709 10.8557 37.6254 10.4683 37.5805L10.2979 37.5608L10.2839 37.683L10.5516 37.7139C10.9047 37.7547 11.2459 37.8814 11.5732 38.0935C11.9004 38.3057 12.1585 38.6015 12.3434 38.9806C12.5283 39.3597 12.5927 39.8028 12.5348 40.3097C12.4648 40.923 12.2819 41.3902 11.988 41.7139C11.6938 42.0399 11.3072 42.2566 10.8284 42.364C10.3475 42.4711 9.82284 42.5113 9.25244 42.4843C8.68204 42.4573 7.92898 42.3909 6.99579 42.2828L6.7158 42.2505L3.35596 41.8619L3.5545 40.1239L3.95831 40.1706C4.1815 40.1964 4.32432 40.1694 4.38871 40.0921C4.45301 40.0147 4.49519 39.8797 4.51741 39.6851L5.08206 34.7426C5.10407 34.5502 5.09375 34.4069 5.04845 34.3167C5.00529 34.2269 4.87221 34.168 4.64707 34.1419L4.24326 34.0953L4.44181 32.3572ZM7.89683 36.554L8.52987 36.6272C9.1446 36.6983 9.48606 36.4443 9.55221 35.865C9.58971 35.5369 9.50924 35.3052 9.31041 35.1744C9.11157 35.0436 8.82769 34.9558 8.45437 34.9126L8.08914 34.8703L7.89683 36.554ZM7.4751 40.2449L8.09596 40.3167C8.77761 40.3956 9.15103 40.1499 9.2162 39.5796C9.26014 39.1949 9.17723 38.9308 8.96573 38.7848C8.75628 38.6391 8.4648 38.5456 8.09352 38.5027L7.67958 38.4549L7.4751 40.2449ZM15.057 33.4864L14.9317 35.2314L15.4592 35.2697C15.6792 35.2857 15.7843 35.3618 15.7744 35.5005C15.7698 35.5641 15.7486 35.631 15.7109 35.6992C15.7061 35.7102 15.7012 35.7213 15.696 35.7346C15.6911 35.7479 15.6837 35.7656 15.6694 35.792C15.6592 35.8209 15.6493 35.8453 15.6415 35.8676C15.6315 35.892 15.6262 35.9098 15.6209 35.9255L13.7878 40.3828C13.6559 40.7089 13.5357 40.9264 13.4317 41.0352C13.3258 41.1416 13.1404 41.1853 12.8736 41.1658L12.6537 41.1499L12.5284 42.8947L16.0481 43.1507L16.1734 41.4057L16.0246 41.3949C15.8882 41.385 15.7964 41.3235 15.751 41.2128C15.7038 41.0998 15.6818 41.0067 15.6809 40.9337L15.7275 40.7703L18.6973 40.9862C18.7497 41.1681 18.7733 41.2977 18.7676 41.375C18.7572 41.5204 18.6256 41.5839 18.3731 41.5655L18.0186 41.5397L17.8934 43.2847L22.4519 43.6162L22.5772 41.8713L22.3674 41.856C22.2085 41.8444 22.0866 41.8036 21.9976 41.7309C21.9107 41.6584 21.8475 41.5693 21.8122 41.4617C21.7749 41.3539 21.7372 41.1936 21.697 40.9852L20.1674 33.8578L15.057 33.4864ZM17.5949 36.1512L17.6662 36.1563L18.2452 38.8705L16.5241 38.7454L17.5949 36.1512ZM23.2688 40.867L23.3477 38.7911L28.4901 38.9888L28.4113 41.0648L23.2688 40.867ZM37.725 34.3946L37.6885 37.2782L36.1815 37.2589C36.1558 37.0194 36.1214 36.8435 36.0778 36.7335C36.0343 36.6259 35.9617 36.5498 35.8581 36.5075C35.7545 36.4674 35.5934 36.4448 35.3708 36.442L33.6311 36.4197L33.6101 38.0733L34.7026 38.0873C35.4418 38.0968 36.0921 38.1894 36.6536 38.3652C37.2171 38.5387 37.6626 38.8428 37.9942 39.2731C38.3236 39.7034 38.4837 40.284 38.4744 41.0198C38.4662 41.6667 38.335 42.1867 38.0789 42.5798C37.8227 42.9751 37.4636 43.2667 37.0037 43.459C36.5438 43.6514 36.0112 43.7766 35.4079 43.835C34.8028 43.8933 34.0692 43.9158 33.2055 43.9047L29.6156 43.8587L29.6377 42.1094L30.042 42.1146C30.2708 42.1175 30.4142 42.0761 30.4724 41.9926C30.5307 41.909 30.561 41.7704 30.5635 41.5745L30.6264 36.5999C30.6289 36.4063 30.6041 36.2647 30.5502 36.1797C30.4961 36.0947 30.3516 36.0496 30.1189 36.0467L29.541 36.0393L29.5631 34.29L37.725 34.3946ZM33.5605 41.9956L33.8055 41.9987C34.6794 42.0099 35.1229 41.6693 35.1317 40.9746C35.1369 40.5601 35.0096 40.2964 34.7516 40.1815C34.4916 40.0665 34.186 40.008 33.8307 40.0034L33.5857 40.0002L33.5605 41.9956ZM40.2833 34.3363L45.4048 34.1821L47.6479 41.1156C47.7091 41.3188 47.7627 41.4745 47.8108 41.5778C47.8568 41.6812 47.9287 41.7634 48.0226 41.8267C48.1184 41.8899 48.2438 41.918 48.4031 41.9132L48.6133 41.9069L48.6653 43.6556L44.097 43.7931L44.045 42.0444L44.4002 42.0337C44.6533 42.0261 44.7777 41.9494 44.7733 41.8037C44.771 41.7263 44.7346 41.5998 44.664 41.4243L41.6879 41.5139L41.6581 41.6811C41.6664 41.7538 41.6976 41.844 41.756 41.9517C41.8123 42.0571 41.9098 42.1087 42.0466 42.1047L42.1955 42.1002L42.2476 43.8489L38.7203 43.9551L38.6682 42.2064L38.8887 42.1997C39.1561 42.1917 39.3361 42.1292 39.4307 42.0125C39.5232 41.8934 39.6206 41.6649 39.7189 41.3269L41.0913 36.705C41.095 36.6889 41.0984 36.6706 41.1059 36.6453C41.1113 36.6223 41.1187 36.5971 41.1261 36.5673C41.1376 36.5395 41.1431 36.5212 41.1467 36.5074C41.1504 36.4935 41.1541 36.4821 41.1579 36.4706C41.1884 36.399 41.2028 36.3302 41.2008 36.2664C41.1967 36.1275 41.0844 36.0626 40.864 36.0691L40.3353 36.085L40.2833 34.3363ZM43.0778 36.7271L42.2752 39.4177L44.0002 39.3658L43.1494 36.725L43.0778 36.7271ZM49.095 43.6707L53.5964 43.3433L53.4711 41.5984L53.3957 41.6039C53.1717 41.6201 53.0257 41.5829 52.9598 41.4917C52.8939 41.4005 52.8557 41.2686 52.8433 41.0959L52.72 39.3782L54.8098 39.2263L54.9331 40.9439C54.9483 41.1553 54.9239 41.3009 54.86 41.3809C54.7963 41.4632 54.6627 41.5118 54.459 41.5266L54.3876 41.5318L54.5129 43.2768L59.0083 42.9499L58.883 41.205L58.4675 41.2352C58.2496 41.251 58.1077 41.2134 58.0417 41.1223C57.9779 41.0311 57.9397 40.8991 57.9272 40.7264L57.5709 35.7643C57.5585 35.5915 57.5774 35.4555 57.6255 35.3561C57.6736 35.2566 57.8108 35.1987 58.0327 35.1825L58.4483 35.1523L58.323 33.4074L53.8277 33.7342L53.953 35.4792L54.0243 35.474C54.228 35.4592 54.3672 35.4878 54.4418 35.5578C54.5164 35.6277 54.5614 35.7706 54.5766 35.9819L54.6608 37.1543L52.5709 37.3062L52.4868 36.1339C52.4747 35.9658 52.4916 35.8298 52.5396 35.7281C52.5875 35.6263 52.7206 35.5688 52.9366 35.5531L53.0079 35.548L52.8826 33.803L48.4096 34.1282L48.5349 35.8732L48.9403 35.8437C49.144 35.8289 49.2832 35.8576 49.3578 35.9275C49.4324 35.9974 49.4774 36.1381 49.4926 36.3516L49.8489 41.3137C49.8641 41.525 49.8398 41.6706 49.7759 41.7507C49.7122 41.833 49.5786 41.8815 49.3749 41.8963L48.9695 41.9258L49.095 43.6707ZM63.0682 36.4624L63.324 36.4344C63.4865 36.4167 63.6086 36.3689 63.6904 36.2889C63.7722 36.2089 63.8453 36.0681 63.9072 35.8619C63.9695 35.6581 64.0656 35.274 64.1982 34.7141C64.2939 34.3073 64.4109 33.9439 64.545 33.6269C64.681 33.3072 64.896 33.0156 65.1903 32.7543C65.4844 32.4907 65.8721 32.3337 66.3512 32.2814C66.7938 32.2329 67.2446 32.2616 67.704 32.3672L67.9461 34.6092C67.7114 34.6417 67.5344 34.7343 67.4112 34.8876C67.2881 35.0408 67.1533 35.2756 67.0046 35.592C66.817 36.0043 66.6214 36.3235 66.4178 36.5498C66.2163 36.7758 65.87 36.9558 65.3791 37.0896L65.3968 37.2526C66.4119 37.1415 67.1046 37.5836 67.475 38.5789C67.5798 38.8446 67.6741 39.0337 67.7624 39.1478C67.8484 39.2598 67.9909 39.3038 68.1919 39.2819C68.2913 39.271 68.4333 39.2348 68.6131 39.1693L68.9052 41.8733C68.5665 42.0661 68.1609 42.1906 67.6859 42.2425C67.2331 42.292 66.8439 42.2636 66.5226 42.1613C66.2011 42.0567 65.8827 41.8096 65.5634 41.4206C65.244 41.0316 64.9093 40.4427 64.5591 39.6538C64.4292 39.3633 64.3401 39.1668 64.2916 39.0598C64.2413 38.9553 64.177 38.8546 64.0944 38.756C64.0142 38.6594 63.9099 38.5883 63.7841 38.5448C63.6562 38.5015 63.4928 38.4918 63.2899 38.5141L63.4644 40.131C63.4864 40.3348 63.5386 40.4758 63.6192 40.5564C63.7018 40.6367 63.8488 40.6664 64.062 40.6431L64.2935 40.6178L64.4813 42.357L59.8645 42.8619L59.6767 41.1226L59.9934 41.088C60.2168 41.0636 60.3584 41.0046 60.4198 40.9085C60.4816 40.8147 60.5023 40.6635 60.4799 40.4575L59.9516 35.5659C59.9289 35.3554 59.8785 35.212 59.7981 35.1336C59.718 35.0577 59.5672 35.0306 59.3418 35.0552L59.0252 35.0898L58.8373 33.3506L63.4785 32.8431L63.6663 34.5823L63.4106 34.6103C63.1954 34.6339 63.0579 34.6924 62.9963 34.7885C62.9346 34.8823 62.9139 35.0334 62.9362 35.2395L63.0682 36.4624Z' fill='%23DEDDDD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M57.9095 46.8541H50.626V58.6368L57.9095 52.2509V46.8541Z' fill='%23DEDDDD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1602 47.0897H21.4437V58.8724L14.1602 52.4865V47.0897Z' fill='%23DEDDDD'/%3E%3C/svg%3E%0A") no-repeat center center;

   img {
     display: block;
     width: auto;
    }

    @media screen and (min-width: $tablet-width) {
      width: 143px;
      height: 127px;
      flex-shrink: 0;
      overflow: hidden;

      img {
        height: 100%;
        width: auto;

      }
    }
    @media screen and(min-width: $laptop-width) {
      width: 135px;
      height: 119px;
    }
    @media screen and (min-width: $desktop-width) {
      height: 142px;
      width: 160px;
    }
  }
  &__date {
    display: inline-block;
    margin: 0 0 5px 0;
    padding: 0;
    font-family: $Roboto;

    font-weight: 400;
    line-height: 17px;
    font-size: 11px;
    color: $gray-text;
    text-decoration: none;
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 8px;
    }

    @media screen and (min-width: $desktop-width) {
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__text {
    padding: 10px 15px;

    @media screen and (min-width: $tablet-width) {
      height: 127px;
      overflow: hidden;
    }
    @media screen and(min-width: $laptop-width) {
      height: 119px;
      padding: 13px 10px 12px  17px;
    }

    @media screen and (min-width: $desktop-width) {
      height: 142px;
      padding: 20px;
    }

  }
  &__title {
    margin: 0;
    padding: 0;
    font-family: $Roboto;
    font-weight: 500;
    line-height: 15px;
    font-size: 12px;

    color: $black;

    @media screen and (min-width: $tablet-width) {
      line-height: 20px;
      font-size: 14px;
    }
  }
  &__main {
    margin-bottom: 18px;
    @media screen and (min-width: $tablet-width) {
      margin-right: 18px;
    }

    @media screen and(min-width: $laptop-width) {
      margin-bottom: 0;
    }
  }
  &__item {
    background-color: $white;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);

    min-height: 104px;
    margin-bottom: 15px;
    a {
      display: flex;
      flex-direction: row;

      text-decoration: none;
      .news__title {
        transition: all 0.3s ease;
      }
      &:not(.mobile):hover,
      &:not(.mobile):focus {
        .news__title {
          color: $red-hover;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &--main {
      flex-shrink: 0;
      margin-bottom: 0;
      a {
        display: block;
      }
      .news__img {
        width: 100%;
        height: auto;
        min-height: 134px;
        img {
          display: block;
          height: auto;
        }
      }
      .news__text {
        padding: 10px 20px 16px 20px;
      }
      .news__title {
        margin: 0;
        padding: 0;
        font-family: $Roboto;
        font-weight: 500;
        line-height: 23px;
        font-size: 16px;

        color: $black;
      }
    }

    @media screen and (min-width: $tablet-width) {
      &--main {
        width: 340px;
        .news__text {
          padding: 12px 22px 25px;
          height: 118px;
        }
        .news__title {
          line-height: 26px;
          font-size: 20px;
        }
        .news__img {
          height: 153px;
          img {
            width: 100%;
          }
        }
      }
    }
    @media screen and(min-width: $laptop-width) {
      height: 119px;
      &--main {
        height: 255px;
        .news__img {
          height: 142px;
        }
        .news__title {
          line-height: 25px;
          font-size: 18px;
        }
        .news__text {
          padding-top: 14px;
          height: 113px;
        }
      }
    }
    @media screen and (min-width: $desktop-width) {
      width: 376px;
      height: 142px;
      &--main {
        height: 300px;

        .news__title {
          line-height: 28px;
          font-size: 20px;
        }

        .news__img {
          height: 170px;
        }
      }
    }
  }

  &__block {
    @media screen and (min-width: $tablet-width) {
      display: flex;
    }
  }
  &__link {
    .news__img {
      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        opacity: 0;
        transition: opacity 0.3s ease;

      }

      &::before {
        bottom: 0;
        left: 0;

        width: 59px;
        height: 35px;
        background-color: $red;
      }

      &::after {
        bottom: 13px;
        left: 23px;

        width: 10px;
        height: 10px;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        transform-origin: center;
        transform: rotate(45deg);
      }
    }

    &:not(.mobile):hover,
    &:not(.mobile):focus {
      .news__img {
        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

