.news {
  padding: 50px 0;

  @media screen and (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 59px;
  }
  @media screen and(min-width: $laptop-width) {
    padding-top: 76px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 118px;
  }

  &__list {
    @include list-reset;
    &--small {
      display: none;
    }
    @media screen and (min-width: $tablet-width) {
      flex-basis: 376px;
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      &--small {
        display: none;
      }
    }
    @media screen and(min-width: $laptop-width) {
      margin-right: 12px;
      min-width: 316px;

      &--small {
        display: block;
        min-width: 316px;
        margin-right: 0;
        box-shadow: 0 2px 30px rgba(0,0,0,.15);

        .news__item {
          position: relative;

          min-height: 85px;
          height: 85px;
          box-shadow: none;
          margin-bottom: 0;

          &::before {
            content: '';
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray-border;
          }
        }
        .news__text {
          height: 85px;
          padding-left: 21px;
          padding-right: 21px;
          padding-top: 9px;

        }
        .news__date {
          margin-bottom: 0;
        }

      }
    }
    @media screen and (min-width: $desktop-width) {

      &--small {
        .news__item {
          height: 100px;
        }
        .news__text {
          height: 100px;
          padding-top: 15px;
        }
      }

    }

  }
  &__img {
    position: relative;
    flex-shrink: 0;
    width: 118px;
    height: 104px;
    overflow: hidden;
   img {
     display: block;
     width: auto;
    }

    @media screen and (min-width: $tablet-width) {
      width: 143px;
      height: 127px;
      flex-shrink: 0;
      overflow: hidden;

      img {
        height: 100%;
        width: auto;

      }
    }
    @media screen and(min-width: $laptop-width) {
      width: 135px;
      height: 119px;
    }
    @media screen and (min-width: $desktop-width) {
      height: 142px;
      width: 160px;
    }
  }
  &__date {
    display: inline-block;
    margin: 0 0 5px 0;
    padding: 0;
    font-family: $Roboto;

    font-weight: 400;
    line-height: 17px;
    font-size: 11px;
    color: $gray-text;
    text-decoration: none;
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 8px;
    }

    @media screen and (min-width: $desktop-width) {
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__text {
    padding: 10px 15px;

    @media screen and (min-width: $tablet-width) {
      height: 127px;
      overflow: hidden;
    }
    @media screen and(min-width: $laptop-width) {
      height: 119px;
      padding: 13px 10px 12px  17px;
    }

    @media screen and (min-width: $desktop-width) {
      height: 142px;
      padding: 20px;
    }

  }
  &__title {
    margin: 0;
    padding: 0;
    font-family: $Roboto;
    font-weight: 500;
    line-height: 15px;
    font-size: 12px;

    color: $black;

    @media screen and (min-width: $tablet-width) {
      line-height: 20px;
      font-size: 14px;
    }
  }
  &__main {
    margin-bottom: 18px;
    @media screen and(min-width: $laptop-width) {
      margin-bottom: 0;
    }
  }
  &__item {
    background-color: $white;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);

    min-height: 104px;
    margin-bottom: 15px;
    a {
      display: flex;
      flex-direction: row;

      text-decoration: none;

      &:hover,
      &:focus {
        .news__title {
          color: $red-hover;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &--main {
      width: 340px;
      flex-shrink: 0;
      margin-right: 18px;
      margin-bottom: 0;
      a {
        display: block;
      }
      .news__img {
        width: 100%;
        height: 142px;
        img {
          display: block;
          height: auto;
        }
      }
      .news__text {
        padding: 10px 20px 16px 20px;
      }
      .news__title {
        margin: 0;
        padding: 0;
        font-family: $Roboto;
        font-weight: 500;
        line-height: 23px;
        font-size: 16px;

        color: $black;
      }
    }

    @media screen and (min-width: $tablet-width) {
      &--main {
        .news__text {
          padding: 12px 22px 25px;
          height: 118px;
        }
        .news__title {
          line-height: 26px;
          font-size: 20px;
        }
        .news__img {
          height: 153px;
          img {
            width: 100%;
          }
        }
      }
    }
    @media screen and(min-width: $laptop-width) {
      height: 119px;
      &--main {
        height: 255px;
        .news__img {
          height: 142px;
        }
        .news__title {
          line-height: 25px;
          font-size: 18px;
        }
        .news__text {
          padding-top: 14px;
          height: 113px;
        }
      }
    }
    @media screen and (min-width: $desktop-width) {
      width: 373px;
      height: 142px;
      &--main {
        height: 300px;

        .news__title {
          line-height: 28px;
          font-size: 20px;
        }

        .news__img {
          height: 170px;
        }
      }
    }
  }

  &__block {
    @media screen and (min-width: $tablet-width) {
      display: flex;
    }
  }
  &__link {
    &:hover,
    &:focus {
      .news__img {
        &::before,
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;

          z-index: 5;
        }

        &::before {
          bottom: 0;
          left: 0;

          width: 59px;
          height: 35px;
          background-color: $red;
        }

        &::after {
          bottom: 13px;
          left: 23px;

          width: 10px;
          height: 10px;
          border-top: 2px solid $white;
          border-right: 2px solid $white;
          transform-origin: center;
          transform: rotate(45deg);
        }
      }

    }

  }
}

