.news-slider {

  @media screen and (min-width: $tablet-width) {
  padding: 0 0 0 35px;
}
  @media screen and (min-width: $tablet-width) {
    padding: 0 0 0 23px;
  }
  @media screen and (min-width: $desktop-width) {
    padding: 0;
  }

  &__list {
    @include list-reset;
    margin-bottom: 5px;
    padding-rightt: 1px;
  }

  &__item {
    position: relative;
    margin-left: 12px;
    transform: translateX(8px);
    width: 143px;
    overflow: hidden;

    a {
      position: relative;
      &:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($red, 0.8) url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14.1421' cy='14.4644' r='9' transform='rotate(-45 14.1421 14.4644)' stroke='white' stroke-width='2'/%3E%3Cpath d='M20.5059 20.8284L25.5059 25.8284' stroke='white' stroke-width='2'/%3E%3Cpath d='M14.1416 10.4644V18.4644' stroke='white' stroke-width='2'/%3E%3Cpath d='M18.1426 14.4646H10.1426' stroke='white' stroke-width='2'/%3E%3C/svg%3E") no-repeat center center;
      }
    }



    img {
      height: 97px;
      width: auto;
    }

    @media screen and (min-width: $tablet-width) {
      transform: translateX(0);
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    outline: none;
  }

  &__controls {
    display: flex;
    width: 86px;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-left: 20px;
    @media screen and (min-width: $tablet-width) {
      margin-left: 0;
    }

  }
  &__control {
    position: relative;
    height: 24px;
    width: 40px;
    padding: 0;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 17px;

      width: 7px;
      height: 7px;
      border-bottom: 2px solid $white;
      border-left: 2px solid $white;
      transform-origin: center;
      transform: rotate(45deg);
    }
    &--prev::before {
      transform: rotate(45deg);
    }
    &--next::before {
      transform: rotate(-135deg);
    }
  }
  &__number {
    margin-left: 20px;
    font-family: $Oswald;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (min-width: $tablet-width) {
      margin-left: 0;
    }
  }
  &__count {
    line-height: 39px;
    font-size: 22px;
  }

  .slick {
    height: 97px;
    &-slide {
      width: 143px;
      margin-right: 12px;
    }
  }

}






