.our-team {
  overflow-x: hidden;
  &__header {
    padding-top: 87px;
    background: url('../img/mobile/header-bg.png') no-repeat top center;
    background-size: cover;

    @media screen and (min-width: $tablet-width) {
      padding-top: 130px;

      background: url('../img/tablet/header-bg.png') no-repeat top center;
      background-size: cover;

      .container {
        width: calc(100% - 350px);
        margin-left: 0;
        padding: 0 0 0 35px;
      }
    }

    @media screen and(min-width: $laptop-width) {
      padding-top: 159px;
      padding-bottom: 22px;

      background: url('../img/laptop/header-bg.png') no-repeat top center;
      background-size: cover;

      .container {
        width: 100%;
        padding: 0 23px;
        max-width: 1160px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media screen and (min-width: $desktop-width) {
      background: url('../img/desktop/header-bg.png') no-repeat top center;
      background-size: cover;
      .container {
        position: relative;
        z-index: 2;

        padding-left: 0;

      }
    }
  }
  &__container {
    @media screen and (min-width: $desktop-width) {
      position: relative;
      max-width: 1208px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    margin: 12px 0 5px 0;
    padding: 0;

    font-family: $Oswald;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    font-size: 48px;
    text-transform: uppercase;

    color: $black;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 2px;
      line-height: 66px;
      font-size: 52px;
    }

    @media screen and(min-width: $laptop-width) {
      width: 550px;
      margin-bottom: 8px;

      line-height: 91px;
      font-size: 72px;
    }
    @media screen and (min-width: $desktop-width) {
      margin-bottom: 5px;
    }
  }

  &__subtitle {
    margin: 0 0 20px 0;
    padding: 0;
    max-width: 235px;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    font-size: 16px;
    color: $black;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 37px;
      max-width: 100%;
      line-height: 25px;
      font-size: 18px;
    }

    @media screen and (min-width: $laptop-width) {
      width: 550px;
      margin-bottom: 41px;
      line-height: 28px;
      font-size: 20px;
    }
    @media screen and (min-width: $desktop-width) {

      margin-bottom: 45px;
    }
  }

  &__button {
    margin-bottom: 50px;
  }
}
