.roots {
  background: $black url('../img/team/roots-bg-mobile.jpg') no-repeat top center;
  background-size: cover;

  @media screen and(min-width: $tablet-width) {
    background: $black url('../img/team/roots-bg-tab.jpg') no-repeat top center;
    background-size: cover;

    &__images-cols-tablet {
      margin-bottom: 35px;
      width: 465px;
      display: flex;
      justify-content: space-between;
      .tabs-list__img {
        flex-basis: 48%;
        margin-bottom: 10px;
        img {
          max-height: 100%;
          width: auto;
        }
      }
    }
  }

  @media screen and(min-width: $laptop-width) {
    background: $black url('../img/team/roots-bg-lap.jpg') no-repeat top center;
    background-size: cover;
    &__images-cols-tablet {
      width: auto;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  @media screen and(min-width: $desktop-width) {
    background: $black url('../img/team/roots-bg-desk.jpg') no-repeat top center;
    background-size: cover;
  }
}
