.slider {
  @media screen and (min-width: $tablet-width) {
    width: 380px;
  }
  @media screen and (min-width: $laptop-width) {
    width: 100%;
  }
  &__list {
    @include list-reset;
    margin-bottom: 3px;
    @media screen and (min-width: $tablet-width) {
      margin: 0;
      //min-height: 185px;
    }
  }

  &__controls {
    display: flex;
    width: 95px;
    justify-content: space-between;
    margin-bottom: 25px;

    @media screen and (min-width: $tablet-width) {
      margin-left: auto;
      margin-bottom: 5px;
      margin-top: 6px;
    }

    @media screen and (min-width: $laptop-width) {
      position: absolute;
      right: 23px;
      z-index: 5;
    }

    @media screen and (min-width: $desktop-width) {
      width: 132px;
      right: 0;
      margin-left: 0;
    }
  }
  &__control {
    position: relative;
    height: 27px;
    width: 46px;
    padding: 0;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 20px;

      width: 7px;
      height: 7px;
      border-bottom: 2px solid $white;
      border-left: 2px solid $white;
      transform-origin: center;
      transform: rotate(45deg);
    }
    &--prev::before {
      transform: rotate(45deg);
    }
    &--next::before {
      transform: rotate(-135deg);
    }

    @media screen and (min-width: $desktop-width) {
      width: 64px;
      height: 38px;

      &::before {
        top: 13px;
        left: 26px;

        width: 10px;
        height: 10px;
      }
    }
  }

  &__item {
    img{
      width: 100%;
      height: auto;
    }

    @media screen and (min-width: $laptop-width) {
      //margin-top: 5px;
      //width: 390px !important;
    }
  }
  &__index {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 110px;
    &::before {
      content: '';

      order: 2;
      width: 52px;
      height: 2px;
      background-color: $white;
    }

    @media screen and (min-width: $tablet-width) {
      margin-left: auto;
    }

    @media screen and (min-width: $laptop-width) {
      margin-left: 0;
      position: absolute;
      right: 23px;
      margin-top: -44px;
      width: 125px;
    }

    @media screen and (min-width: $desktop-width) {
      right: 0;
      width: 150px;
      margin-top: -25px;

      &::before {
        width: 72px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  &__current {
    order:1;

    font-family: $Oswald;
    font-weight: 300;
    line-height: 64px;
    font-size: 36px;
    color: $red;

    @media screen and (min-width: $tablet-width) {
      line-height: 36px;
    }
    @media screen and (min-width: $laptop-width) {
      font-size: 46px;
    }

  }
  &__quantity {
    order: 3;

    font-family: $Oswald;
    font-weight: 300;
    line-height: 32px;
    font-size: 18px;
    color: $white;

    @media screen and (min-width: $tablet-width) {
      line-height: 36px;
    }
    @media screen and (min-width: $laptop-width) {
      font-size: 20px;
    }
  }
  //.slick {
  //  @media screen and (min-width: $tablet-width) {
  //
  //    &-slide {
  //      transform: scale(0.75);
  //      filter: grayscale(100%);
  //    }
  //    &-current {
  //      transform: scale(1.18);
  //      filter: none;
  //    }
  //
  //    @media screen and (min-width: $laptop-width) {
  //      &-slide {
  //        transform: scale(0.5);
  //
  //      }
  //      &-current {
  //        transform: scale(0.5);
  //      }
  //
  //    }
  //  }
  //
  //}

  .slick {
    @media screen and (min-width: $tablet-width) {
      &-slide {
        width: 220px !important;
        margin-right: 22px;
        li {
          width: 137px !important;
          margin-top: 30px !important;
          margin-bottom: 30px;
          filter: grayscale(100%);
          transition: all 0.2s ease;
        }
      }
      &-current {
        li {
          width: 220px !important;
          margin-top: 0px !important;
          filter: none;
        }
      }
    }
    @media screen and (min-width: $laptop-width) {
      &-slider {
        height: 270px !important;
      }
      &-slide {
        opacity: 0.4;
        margin-top: 5px;
        width: 155px !important;
        li {
          width: 155px !important;
          margin-top: 80px !important;
          margin-bottom: 0;
        }
      }
      &-current {
        width: 390px !important;
        opacity: 1;
        + .slick-slide {
          opacity: 1;
        }
        li {
          width: 390px !important;
          margin-top: 0px !important;
          filter: none;
        }
      }
    }
    @media screen and (min-width: $desktop-width) {
      &-list {

      }
      &-slider {
        height: 305px !important;
      }
      &-slide {
        margin-top: 5px;
        width: 216px !important;
        li {
          width: 216px !important;
          margin-top: 88px !important;
          margin-bottom: 0;
        }
      }
      &-current {
        width: 452px !important;
        li {
          width: 452px !important;
          margin-top: 0px !important;
          filter: none;
        }
      }
    }
  }
}


