.up {
  position: fixed;
  display: none;
  bottom: 30px;
  right: 20px;
  z-index: 200;

  width: 42px;
  height: 42px;
  background-color: $red;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.55);
  transition: all 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    top: 19px;
    left: 17px;
    width: 8px;
    height: 8px;
    border-top: 2px solid $white;
    border-left: 2px solid $white;
    transform-origin: center;
    transform: rotate(45deg);

  }

  &:hover,
  &:focus {
    background-color: $red-hover;
  }


  @media screen and (min-width: $tablet-width) {
    right: 35px;
  }

  @media screen and (min-width: $laptop-width) {
  right: 23px;
  }

  @media screen and (min-width: $desktop-width) {
    right: calc((100% - 1160px) / 2 + 8px );
  }
}
