@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin inline-block($align: middle) {
  display: inline-block;
  vertical-align: $align;
}

@mixin middle($align: middle) {
  content: "";
  display: inline-block;
  vertical-align: $align;
  width: 0;
  height: 100%;
}