$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1440px;

$Oswald: 'Oswald', Arial, sans-serif;
$Roboto: 'Roboto', Arial, sans-serif;

$black: #201F1F;
$dark-gray:  #2E3237;
$medium-gray: #323239;
$gray-text: #545454;
$gray: #525861;
$light-gray: #E8E8E8;
$gray-border: #DEDEDE;
$white: #fff;

$red: #F24841;
$red-hover: #ED1C24;





