$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1440px;

$Oswald: 'Oswald', Arial, sans-serif;
$Roboto: 'Roboto', Arial, sans-serif;

$true-black: #000;
$black: #201F1F;
$dark-gray:  #2E3237;
$medium-gray: #323239;
$gray-text: #545454;
$gray: #525861;
$light-gray: #E8E8E8;
$gray-border: #DEDEDE;
$white: #fff;
$gray7: #777;
$gray-thead: #D9D9DA;
$gray-cd: #CDCDCD;
$gray-empty: rgba(217, 217, 218, 0.2);

$red: #F24841;
$red-hover: #ED1C24;

$shadow: rgba(0,0,0,0.1);
$shadow15: rgba(0,0,0,0.15);

$sport1: #FEECEC;
$sport1over: #FCD3D2;
$sport2: #F5F5F5;
$sport2over: #EDEDED;
$sport3: #ECF3FD;
$sport3over: #E4EBF6;
$sport4: #E6FBE6;
$sport4over: #DAF3DB;
$sport5: #FEF8E2;
$sport5over: #FBF1CE;
$sport6: #F2F2F2;
$sport6over: #DFDFE2;

$clock-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI5IiBjeT0iOSIgcj0iOCIgc3Ryb2tlPSIjMkUzMjM3IiBzdHJva2Utd2lkdGg9IjIiLz48cGF0aCBkPSJNOSA0VjlMMTIgMTIuNSIgc3Ryb2tlPSIjRjI0ODQxIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=);